In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
directory = "C:\\Users\\ericm\\OneDrive\\Documents\\MADS\\Capstone\\data\\"

dataframes = []

all_columns = set()

# iterate over the files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'): 
        # combine the directory path and filename to get the full path to the CSV file
        file_path = os.path.join(directory, filename)

        # read the CSV file into a pandas DataFrame
        df = pd.read_csv(file_path)

        # print the shape of the DataFrame
        print(f'Shape of DataFrame from {filename}: {df.shape}')

        # append the DataFrame to the list
        dataframes.append(df)

        # add column names to the set of all column names
        all_columns.update(df.columns)

    # elif filename.endswith('.tsv'):
    #     # combine the directory path and filename to get the full path to the TSV file
    #     file_path = os.path.join(directory, filename)

    #     # read the TSV file into a pandas DataFrame
    #     df = pd.read_csv(file_path, sep='\t')

    #     # print the shape of the DataFrame
    #     print(f'Shape of DataFrame from {filename}: {df.shape}')

    #     # append the DataFrame to the list
    #     dataframes.append(df)

    #     # add column names to the set of all column names
    #     all_columns.update(df.columns)
        
all_missing_columns = set()

# find columns that are not shared by all dataframes
for i, df in enumerate(dataframes):
    missing_columns = all_columns.difference(df.columns)
    if missing_columns:
        print(f'DataFrame {i} is missing the following columns: {missing_columns}')
        all_missing_columns.update(missing_columns)

Shape of DataFrame from TEDS-D-2012-DS0001-data-excel.csv: (1634695, 65)
Shape of DataFrame from TEDS-D-2013-DS0001-data-excel.csv: (1601220, 64)
Shape of DataFrame from TEDS-D-2014-DS0001-data-excel.csv: (1479813, 64)
Shape of DataFrame from tedsd_2015_puf.csv: (1420316, 78)
Shape of DataFrame from tedsd_2016_puf.csv: (1458045, 78)
Shape of DataFrame from tedsd_puf_2017.csv: (1661207, 76)
Shape of DataFrame from tedsd_puf_2018.csv: (1666366, 76)
Shape of DataFrame from tedsd_puf_2019.csv: (1722503, 76)
Shape of DataFrame from tedsd_puf_2020.csv: (1391393, 76)
DataFrame 0 is missing the following columns: {'CBSA2010', 'SUB2_D', 'SERVICES', 'EMPLOY_D', 'ARRESTS_D', 'FREQ2_D', 'LIVARAG_D', 'FREQ_ATND_SELF_HELP', 'SUB3_D', 'YEAR', 'SERVICES_D', 'FREQ1_D', 'FREQ_ATND_SELF_HELP_D', 'FREQ3_D', 'DETNLF_D', 'SUB1_D'}
DataFrame 1 is missing the following columns: {'CBSA2010', 'SUB2_D', 'SERVICES', 'EMPLOY_D', 'ARRESTS_D', 'FREQ2_D', 'LIVARAG_D', 'FREQ_ATND_SELF_HELP', 'SUB3_D', 'YEAR', 'SERVICES_D', 'FREQ1_D', 'FREQ_ATND_SELF_HELP_D', 'FREQ3_D', 'DETNLF_D', 'PMSA', 'SUB1_D'}
DataFrame 2 is missing the following columns: {'CBSA2010', 'SUB2_D', 'SERVICES', 'EMPLOY_D', 'ARRESTS_D', 'FREQ2_D', 'LIVARAG_D', 'FREQ_ATND_SELF_HELP', 'SUB3_D', 'YEAR', 'SERVICES_D', 'FREQ1_D', 'FREQ_ATND_SELF_HELP_D', 'FREQ3_D', 'DETNLF_D', 'PMSA', 'SUB1_D'}
DataFrame 3 is missing the following columns: {'CBSA2010', 'PMSA', 'SERVSETD'}
DataFrame 4 is missing the following columns: {'CBSA2010', 'PMSA', 'SERVSETD'}
DataFrame 5 is missing the following columns: {'CBSA', 'SERVSETD', 'YEAR', 'NUMSUBS', 'PMSA'}
DataFrame 6 is missing the following columns: {'CBSA', 'SERVSETD', 'YEAR', 'NUMSUBS', 'PMSA'}
DataFrame 7 is missing the following columns: {'CBSA', 'SERVSETD', 'YEAR', 'NUMSUBS', 'PMSA'}
DataFrame 8 is missing the following columns: {'CBSA', 'SERVSETD', 'YEAR', 'NUMSUBS', 'PMSA'}

In [3]:
# iterate over dataframes and delete columns that are not shared by all dataframes
for i, df in enumerate(dataframes):
    for col in all_missing_columns:
        if col in df.columns:
            df.drop(columns=col, inplace=True)

In [4]:
for df in dataframes:
    print(df.shape)

(1634695, 61)
(1601220, 61)
(1479813, 61)
(1420316, 61)
(1458045, 61)
(1661207, 61)
(1666366, 61)
(1722503, 61)
(1391393, 61)

In [5]:
# concatenate all the dataframes
combined_df = pd.concat(dataframes, ignore_index=True)

combined_df.head()

,CASEID,DISYR,AGE,GENDER,RACE,ETHNIC,MARSTAT,EDUC,EMPLOY,DETNLF,...,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,ALCDRUG,DSMCRIT,PSYPROB,HLTHINS,PRIMPAY
0,20120000001,2012,4,1,20,2,1,1,3,-9,...,0,0,0,0,0,3,2,1,4,8
1,20120000002,2012,12,1,5,5,4,1,4,3,...,0,0,0,0,0,2,8,2,4,5
2,20120000003,2012,6,2,5,5,1,3,1,-9,...,0,0,0,0,0,2,5,2,-9,-9
3,20120000004,2012,4,1,5,5,1,3,3,-9,...,0,0,0,0,0,3,-9,2,4,1
4,20120000005,2012,4,1,5,5,1,2,3,-9,...,0,0,0,0,0,3,11,2,4,1

In [6]:
# write the combined DataFrame to a CSV file
combined_df.to_csv('C:\\Users\\ericm\\OneDrive\\Documents\\MADS\\Capstone\\data\\combined_teds_d_data.csv', index=False)